extends _extends/layout.pug

block content
  #content.container
    .col-xs-12
      include _components/content_head.pug
      - var pets = ['cat', 'dog']
      - var title = "Pug Demo"
      h1= title
      
      ul
        each petName in pets
          li= petName

      #container.col
          p.pugDescription.
            Pug is a terse and simple templating language with a
            strong focus on performance and powerful features.
          img.className#IdName(src='http://placehold.it/350x150' alt='Image Title')
          br
          a(href='index.html') View HTML Version
      #posts
      script(src="js/home.jsx" type='text/javascript')
