doctype html
html(class="no-js" lang="en")
  include ../_includes/head.pug
  body
      block content
      
      include ../_includes/foot.pug
      
      script(src="js/app.js" type='text/javascript')